h1{
    text-align: center;
    padding: 8px;
    background-color: red;
    color: white;
}
body{
    background-color: black;
    color: white;
}
table{
    color: white;
    margin-left: 5%;
}
#option{
    text-align: center;
}

.returnButtonContainer{
    position: fixed;
    top: 20%;
    right: 8%;
}

.returnButton{
    padding: 20px;
}

td{
    padding: 5px;
}

#searchButton{
    padding: 5px;
}